@import 'tailwindcss';
@import './styles/fonts.css';
@config "../tailwind.config.mjs";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
